/* Split flap styling */
hotfx-split-flap {
  font-size: 3rem;
  letter-spacing: 2px;
}

.landing-wrapper {
  width: 100%;
  overflow-x: hidden;
  background-color: #f5f7f9; /* Subtle background for the landing page */
}

.landing-hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  text-align: center;
  background-image:
    url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/666688187673799.658d9956b09d4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.landing-content {
  max-width: 700px;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; 
  position: relative;
  z-index: 2;
}

